# NetBeans project files
/nbproject/private/
/nbproject/Makefile-*
/nbproject/configurations.xml

# Build output
/build/
/dist/
*.class

# IDE-specific
*.log
*.iml
*.ipr
*.iws

# OS-specific
.DS_Store
._*
Thumbs.db

# Backup files
*.bak
*.tmp
*~

# Java-specific
*.jar
*.war
*.ear
